body {
    background-color: black;
    background-image: url("tile.png");
    background-repeat: repeat;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

@media only screen and (min-width: 768px) {

    #devilsteakDesktop {
        position: absolute;
        max-width: 50%;
        max-height: 100%;
        top: -60px;
        right: 100%;
        float: right;

    }

    #devilsteakMobile {
        display: none;
    }

    #leftHandDeco {
        width: 25%;
    }

    #mainContent {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #centerContent {
        width: 60%;
        position: relative;
    }

    #nightmareLeft, #nightmareRight {
        display: none;
    }

    #nightmareDown {
        top: 280px;
        right: 95%;
        width: 152px;
        height: 125px;
        float: right;
        position: absolute;
    }

    #centerTextBox, #centerFooter {
        width: 90%;
        float: right;
    }

    #rightHandDeco {
        width: 15%;
    }

    #headerImage {
        margin-left: 20px;
    }

    #galleryTable .col {
        width: 33%;
    }

}

#headerImage {
    width: 100%;
}

#galleryTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
}

td {
    padding: 15px;
}

#gallery {
    display: none;
    padding: 15px;
    width: 100%;
    margin: auto;
}

#gallery img {
    max-width: 50%;
}

#centerFooter {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

#galleryButton {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.col {
    float: left;
    padding: 15px;
}

#devilsteakMobile, #devilsteakDesktop {
    box-shadow: 10px 10px;
}

#nightmare {
    margin-top: 200px;
    margin-left: -40px;
    position: absolute;
}

#centerTextBox {
    background-color: #f3f6d0;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col {
        width: 100%;
    }

    #nightmareLeft, #nightmareRight {
        position: absolute;
        width: 152px;
        height: 125px;
    }

    #nightmareLeft {
        top: 15px;
        left: 15px;
    }

    #nightmareRight {
        z-index: -1;
        top: 100px;
        right: 20px;
    }

    #nightmareDown {
        display: none;
    }

    #devilsteakMobile {
        width: 60%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -45px;
        display: block;
    }

    #devilsteakDesktop {
        display: none;
    }

    #centerTextBox {
        padding: 15px;
    }

    #rightHandDeco {
        display: none;
    }
}